.chat-box {
    height: 70vh;
}

.input-group {
    margin-top: auto;
}

.chat-container {
    box-shadow: 1px 2px 7px #cecece;
}

.message-item {
    margin: 0px;
    display: flex;
    
}

.message-item.customer p{
    padding: 10px;
    background-color: #e63946;
    color: white;
    border-radius: 1000px;
    margin-top: 1px;
    margin-bottom: 0;
    overflow-wrap: break-word;
}

.message-item.admin p{
    padding: 10px;
    background-color: #0077b6;
    color: white;
    border-radius: 1000px;
    margin-top: 1px;
    margin-bottom: 0;
    overflow-wrap: break-word;
}