.product {

  font-family: 'Quicksand';

  padding: 0.5rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

  &__image {
    max-width: 14.5rem;
    height: 16.5rem;
    margin: 0px;

    position: relative;

    button {
      padding: 0px;
    }
    img{
      margin: 0px auto;
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 20px;

      transition: all 0.1s ease-in-out;
      }
  }
  &__info {

    &__title {
      height: 3rem;
    }

    &__addToCart {
      display: flex;

      margin-top: 1rem;

      
      &__price {
        font-weight: 700;
  
  
        color: #f0245e;
      }
  
      &__button {
        cursor: pointer;

        background-color: #f0245e;

        color: white;

        width: 10rem;

        text-align: center;
        margin-left: 1rem;

        transition: all 0.5s ease-in-out;

        &:hover {
          border-radius: 10px;
        }
      }
    }

    
  }
  transition: all 0.2s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}
.page-item.active .page-link {
  z-index: 3;
  color: #b9375e;
  background-color: #ffc8dd;
  border-color: #ffc8dd;
}
.page-link {
  color: #b9375e;
}