.product-detail {
  display: flex;

  width: 100%;
  height: auto;

  margin-top: 2rem;
  margin-bottom: 2rem;

  font-family: 'Cabin';
  &__img {
    width: 60%;
    height: auto;

    display: flex;
    justify-content: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  &__info {
    width: 40%;

    padding-left: 2rem;
    .detail-title { 
      font-size: 2.5rem;

      font-weight: bold;

    }
    .MuiRating-root, .MuiRating-readOnly {
      z-index: -1;
    }
    .detail-info{
      p:nth-child(1){
        margin-bottom: 0px;
      }
    }
    .detail-price {
      font-size: 2rem;
      font-weight: bold;

      color: red;
    }
    .btn-addToCart {
      width: 10rem;
      padding: 1rem ;
      cursor: pointer;

      display: flex;
      justify-content: center;

      border: 2px solid #f0245e;
      border-radius: none;
      color: white;
      background-color: #f0245e;

      transition: all 0.35s ease-in-out;

      &:hover, &:active {
        background-color: white;
        color: #f0245e;
        border: 2px solid #f0245e;
      }
    }
  }
}
.related-products {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.comment-item{
  box-shadow: 1px 2px 7px #cecece;
}
